/*css editing*/
body,html{
    overflow-x: hidden; height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.desc-bingo{
    font-size: 3rem !important;
}

.card-title{
    font-size: 1.5rem;
}

#preloader{
    position: absolute;
    left: 47.5%;
    top:5%;
    display: none;
}
hr{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         50vh;
    width:          2px;       
}
.collapse ul .dropdown-menu {background-color: #fff;}
#text-lg{
    font-size: 2rem;
    margin-top: 1rem;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.p-1{
    font-size: 2rem;
}
/*botao clicado*/
table tr td .btn-danger:focus{
    box-shadow: none;
}
/*texto ultimo num chamado*/
div span.text-center{
    font-size: 1.5rem;
}
/*background num. chamdos/num. restantes*/
.text-center .text-light span{
    border-radius: 5px;
}
btn-lg:hover{
    animation: bounce 1s;
}
.hvr-underline-from-center:before{ color: #17a2b8; height: 2px;}
/*tela cadastro cartelas*/
#table_cad{
    font-size: 2.5rem;
}
.table td, .table th {
    padding: .25rem;
    border-top: none;
}
tbody #linhaB .text-center{
    font-size: 2rem;
}

/*premios*/
.container .row h1{font-size: 5rem;}
.container .row .col-6 h6{font-size: 2rem;}
.card{border: 1px solid #17a2b8;}
.card h5{font-size: 1.5rem; font-weight: bold;}
/******/
/*rodape*/
.footer{
    position: relative;
    bottom: 0;
    margin-top: 25%;
    background-color: #e0e0e0;
    width: 100%;
}
.footer p, .footer span{color:#757575;}
.footer .row{padding-top: 20px;}


